.users-box {
    padding: 3rem 3rem 3rem 6rem;
    background-image: url('./images/darkHobbitHouse.jpg');
    background-size: cover;
    background-repeat: none;
}

.users-box h3 {
    padding-bottom: 2rem;
}

.user-box {
    width: 60%;
    border: .1rem solid ivory;
    margin: 1rem auto;
}

.user-box h2 {
    text-align: center;
    padding: 5rem;
    font-size: 4.5rem;
}

.user-box p {
    font-size: 2.5rem;
    padding: 3rem;
    border-top: .1rem solid ivory;
    line-height: 5rem;
}